PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/sda_portal?retryWrites=true&w=majority
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_REFRESH_SECRET=your_super_secret_refresh_key
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
